* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Open Sans", sans-serif;
}

.card {
    height: 100%;
    width: 100%;
    display: flex;
}

.leftBox {
    height: 100%;
    width: 66.66%;
    background-color: rgb(249, 203, 22);
}

.rightBox {
    height: 100%;
    width: 33.33%;
    background-color: rgb(249, 249, 145);
}

.logo img {
    height: 100px;
    width: 200px;
    margin: 12px 40px;
}

.hamburger img {
    position: absolute;
    left: 70%;
    right: 45%;
    transform: translate(-50%, 20%);
    height: 500px;
}

.logo i {
    position: absolute;
    top: 35px;
    right: 45px;
    /* height: 100px;
    width: 100px; */
    font-size: 50px;
}

.content {
    height: 500px;
    width: 500px;
    margin-top: 80px;
    margin-left: 50px;
}

.content h4 {
    font-size: 20px;
    font-weight: bolder;
    margin-left: 30px;
}

.content h2 {
    font-size: 130px;
    margin-left: 18px;
}

.content p {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 500;
    margin-left: 30px;
}

.content span {
    /* margin-top: 0px; */
    font-size: 16px;
    font-weight: 600;
    margin-left: 30px;
}

.dots {
    position: absolute;
    top: 250px;
    right: 40px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.dots:nth-child(1) {
    color: rgb(255, 196, 0);
}