* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(220, 226, 195);
    color: rgb(49, 49, 48);
}

.top{
    display: flex;
    justify-content: center;
    gap: 350px;
    /* padding: 10px 40px; */
    margin: 15px 35px;
    align-items: center;
}

.logo img{
    height: 75px;
    width: 90px;
}

.nav{
    display: flex;
    gap: 20px;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 30px;
    font-size: 12px;
    /* mar */
}

.search-box{
    margin-bottom: 10px;
}

.middle{
    display: flex;
    margin: 30px 40px;
    margin-bottom: 1px;
    justify-content: center;
    /* align-items: center; */
}

.mid2 img{
    height: 600px;
    width: 550px;
    object-fit: cover;
    margin-left: 30px;
}

.btn{
    padding: 4px 15px;
    background-color: rgb(214, 243, 214);
    color: rgb(16, 112, 1);
    font-size: 17px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.mid1{
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    align-items: flex-start;
    /* flex-direction: start; */
    margin-top: 10px;

}

.mid1 h2{
    font-size: 55px;
    font-stretch: ultra-condensed;
    font-family: "Roboto Condensed", sans-serif;
    margin-top: 12px;
    margin-bottom: 23px;
}

.mid1 h4{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
}

/* .nav2 button{
    padding: 13px 29px;
    background-color: rgb(40, 39, 39);
    color: whitesmoke;
    border-radius: 40px;
    margin-top: 10px;
    border: none;
    outline: none;
    margin-bottom: 19px;
} */

.nav2{
    display: flex;
    gap: 25px;
    margin-bottom: 15px;
    justify-content: center;
}

.nav2 .y{
    padding: 15px 29px;
    background-color: rgb(40, 39, 39);
    color: whitesmoke;
    border-radius: 40px;
    margin-top: 10px;
    border: none;
    outline: none;
    margin-bottom: 19px;
    font-size: 18px;
    cursor: pointer;
    font-family: "Roboto Condensed", sans-serif;
}

.nav2 .pa{
    display: flex;
    gap: 10px;
    justify-content: center;
    /* align-items: center; */
    padding-bottom: 10px;
    padding-top: 7px;
    border-radius: 50px;
    width: 130px;
    height: 50px;
    margin-top: 10px;
    cursor: pointer;
}

.pa h4{
    font-size: 30px;
    color: green;
}

.pa h3{
    font-size: 25px;
    color: red;
}

.pa h5{
    font-size: 24px;
    color: rgb(202, 194, 194);
}

.nav3{
    display: flex;
    gap: 30px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
}

.mid3{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-left: 35px;
    margin-top: 40px;
    gap: 35px;
    width: 240px;
}

.bottom{
    display: flex;
    padding: 20px 35px;
    background-color: rgb(10, 163, 10);
    margin: 10px 90px;
    border-radius: 25px;
    margin-bottom: 40px;
    gap: 30px;
    justify-content: space-evenly;
    height: 220px;
}

.nav4{
    display: flex;
    /* margin: 10px 40px; */
    gap: 30px;
    justify-content: space-between;
}

.nav4 img{
    height: 150px;
    width: 150px;
}

.pic1{
    display: flex;
    background-color: whitesmoke;
    color: black;
    width: 320px;
    border-radius: 25px;
    padding: 10px 15px;
    gap: 13px;
}

.title{
    font-weight: 700;
    font-size: 14px;
}

.price{
    font-weight: 600;
}

.a button{
    padding: 9px 13px;
    background-color: red;
    color: white;
    border-radius: 20px;
    font-size: 11px;
    border: none;
    outline: none;
}

.a{
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-top: 13px;
}

.bottom h3{
    font-size: 27px;
}

.xx{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.xx h3{
    font-family: "Roboto Condensed", sans-serif;
    /* font-family: 80px; */
}

.yy{
    display: flex;
    gap: 18px;
}

.yy i{
    font-size: 20px;
}

.yy button{
    padding: 15px;
    border-radius: 50px;
    border: none;
    outline: none;
}

#zz{
    background-color: rgb(210, 196, 196);
}

.nav3 .p{
    display: flex;
    gap: 9px;

}

.nav3 h3{
    font-size: 10px;
}

.p i{
    padding: 8px;
    border-radius: 50px;
}

.green i{
    border: 2px solid green;
    color: green;
    font-size: 20px;
}

.yellow i{
    border: 2px solid yellow;
    color: yellow;
    font-size: 20px;
}

.red i{
    border: 2px solid red;
    color: red;
    font-size: 20px;
}

.q{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.m img{
    height: 35px;
    width: 35px;
    /* border: 2px solid green; */
    padding: 5px;
    border-radius: 50px;
}

.m {
    display: flex;
    gap: 18px;
}

.n{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.n h3{
    font-size: 14px;
}

.n h5{
    font-size: 12px;
    font-weight: 500;
    color: rgb(113, 96, 63);
}

.g{
    background-color: green;
}

.r{
    background-color: red;
}

.y{
    background-color: yellow;
}

.k{
    display: flex;
    gap: 15px;
    justify-content: center;
}

.k i{
    color: rgb(255, 179, 0);
    font-size: 13px;
}

.rating{
    font-size: 12px;
    margin-top: 5px;
    font-weight: 400;
}

/* .nav2{
    display: flex;
    gap: 35px;
    justify-content: center;
} */

/* .pa{
    display: flex;
    gap: 9px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px 2px;
} */

.p h2{
    font-size: 20px;
}

.nav2 button{
    border-radius: 40px;
}
/* 
.p h4{
    color: green;
}

.p h3{
    color: red;
}

.p h2{
    color: rgb(143, 119, 119);
} */